h1 {
  color: white;
  text-align: center;
  font-size: 40pt;
  background-color: rgb(31, 106, 68);
}

#intro {
  background-color: rgba(147, 249, 46, 0.3);
  color: rgb(31, 106, 68);
  font-size: 18pt;
}

h2 {
  color: white;
  text-align: center;
  font-size: 30pt;
  background-color: rgb(114, 170, 115);
}

h4 {
  color: rgb(75, 109, 143);
  text-align: center;
  font-size: 22pt;
  background-color: rgba(21, 21, 141, 0.2);
}

.techLi {
  color: rgb(75, 109, 143);
}

.techTitle {
  font-size: 14pt;
  color: white;
  background-color: rgb(75, 109, 143);
}